In [9]:
import pandas as pd

In [10]:
station_info = pd.read_csv('./smhi_percipitation_data.csv', sep=';', header=4, usecols=[0, 1, 2, 3, 4], nrows=6)

In [11]:
station_info

,Tidsperiod (fr.o.m),Tidsperiod (t.o.m),Höjd (meter över havet),Latitud (decimalgrader),Longitud (decimalgrader)
0,1961-01-01 00:00:00,1969-05-31 23:59:59,30.000,57.7000,11.9700
1,1969-07-01 00:00:00,1972-04-30 23:59:59,40.000,57.7200,12.0200
2,1972-07-01 00:00:00,1976-10-01 23:59:59,4.000,57.7000,11.9800
3,1995-09-01 00:00:00,1995-09-30 23:59:59,23.000,57.7084,11.9939
4,1995-10-01 00:00:00,1998-06-01 23:59:59,5.000,57.7080,11.9938
5,1999-03-01 00:00:00,2023-10-01 12:20:20,3.038,57.7156,11.9924

In [19]:
station_info.to_csv('station_info.csv', index=False, mode='w')