In [25]:
import pandas as pd
from datetime import datetime

In [26]:
df = pd.read_csv('../data/percipitation_data_curated.csv')

In [27]:
df

,Från Datum Tid (UTC),Till Datum Tid (UTC),Representativt dygn,Nederbördsmängd,Kvalitet
0,1961-01-01 06:00:01,1961-01-02 06:00:00,1961-01-01,0.3,Y
1,1961-01-02 06:00:01,1961-01-03 06:00:00,1961-01-02,0.5,Y
2,1961-01-03 06:00:01,1961-01-04 06:00:00,1961-01-03,8.4,Y
3,1961-01-04 06:00:01,1961-01-05 06:00:00,1961-01-04,0.0,Y
4,1961-01-05 06:00:01,1961-01-06 06:00:00,1961-01-05,2.0,Y
...,...,...,...,...,...
15487,2023-06-26 06:00:01,2023-06-27 06:00:00,2023-06-26,18.5,G
15488,2023-06-27 06:00:01,2023-06-28 06:00:00,2023-06-27,10.6,G
15489,2023-06-28 06:00:01,2023-06-29 06:00:00,2023-06-28,0.0,G
15490,2023-06-29 06:00:01,2023-06-30 06:00:00,2023-06-29,5.0,G
15491,2023-06-30 06:00:01,2023-07-01 06:00:00,2023-06-30,0.2,G

In [28]:
num_rows = df.count(axis=0)[0]

C:\Users\olofs\AppData\Local\Temp\ipykernel_1232\83482794.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  num_rows = df.count(axis=0)[0]

In [29]:
num_rows

15492

In [30]:
first_date = str(df[0:1]['Representativt dygn'])
first_date

'0    1961-01-01\nName: Representativt dygn, dtype: object'

In [31]:
last_date = str(df[num_rows-1:]['Representativt dygn'])
last_date

'15491    2023-06-30\nName: Representativt dygn, dtype: object'

In [32]:
first_year = int(first_date[5:9])
first_month = int(first_date[10:12])
first_day = int(first_date[13:15])
first_meassure_day = datetime(first_year, first_month, first_day)

In [33]:
print(first_meassure_day)

1961-01-01 00:00:00

In [34]:
last_year = int(last_date[9:13])
last_month = int(last_date[14:16])
last_day = int(last_date[17:19])
last_meassure_day = datetime(last_year, last_month, last_day)

In [35]:
print(last_meassure_day)

2023-06-30 00:00:00

In [36]:
diff = last_meassure_day-first_meassure_day

In [37]:
diff

datetime.timedelta(days=22825)

In [39]:
df['Year'] = df['Representativt dygn'].str.split('-').str[0]

In [40]:
df

,Från Datum Tid (UTC),Till Datum Tid (UTC),Representativt dygn,Nederbördsmängd,Kvalitet,Year
0,1961-01-01 06:00:01,1961-01-02 06:00:00,1961-01-01,0.3,Y,1961
1,1961-01-02 06:00:01,1961-01-03 06:00:00,1961-01-02,0.5,Y,1961
2,1961-01-03 06:00:01,1961-01-04 06:00:00,1961-01-03,8.4,Y,1961
3,1961-01-04 06:00:01,1961-01-05 06:00:00,1961-01-04,0.0,Y,1961
4,1961-01-05 06:00:01,1961-01-06 06:00:00,1961-01-05,2.0,Y,1961
...,...,...,...,...,...,...
15487,2023-06-26 06:00:01,2023-06-27 06:00:00,2023-06-26,18.5,G,2023
15488,2023-06-27 06:00:01,2023-06-28 06:00:00,2023-06-27,10.6,G,2023
15489,2023-06-28 06:00:01,2023-06-29 06:00:00,2023-06-28,0.0,G,2023
15490,2023-06-29 06:00:01,2023-06-30 06:00:00,2023-06-29,5.0,G,2023
15491,2023-06-30 06:00:01,2023-07-01 06:00:00,2023-06-30,0.2,G,2023

In [42]:
df['Year'].value_counts()

Year
1964    366
2000    366
2020    366
1968    366
2008    366
2016    366
1996    366
2004    366
2012    366
1961    365
2011    365
2006    365
2007    365
2009    365
2010    365
2014    365
2013    365
2015    365
2017    365
2018    365
2019    365
2021    365
2022    365
2005    365
2001    365
2003    365
1974    365
1963    365
1965    365
1966    365
1967    365
1970    365
1971    365
2002    365
1973    365
1975    365
1997    365
1962    365
1999    306
1969    304
1972    275
1976    274
2023    181
1998    151
1995    122
Name: count, dtype: int64

In [43]:
years = []
for ind, row in df.iterrows():
    year = row['Year']
    if year not in years:
        years.append(year)
    else:
        pass

In [44]:
years

['1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']