In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/percipitation_data_durated.csv')

In [6]:
df = df.drop(columns='Unnamed: 0')

In [7]:
df.to_csv('../data/percipitation_data_curated.csv', index=False)

In [8]:
pd.read_csv('../data/percipitation_data_curated.csv')

,Från Datum Tid (UTC),Till Datum Tid (UTC),Representativt dygn,Nederbördsmängd,Kvalitet
0,1961-01-01 06:00:01,1961-01-02 06:00:00,1961-01-01,0.3,Y
1,1961-01-02 06:00:01,1961-01-03 06:00:00,1961-01-02,0.5,Y
2,1961-01-03 06:00:01,1961-01-04 06:00:00,1961-01-03,8.4,Y
3,1961-01-04 06:00:01,1961-01-05 06:00:00,1961-01-04,0.0,Y
4,1961-01-05 06:00:01,1961-01-06 06:00:00,1961-01-05,2.0,Y
...,...,...,...,...,...
15487,2023-06-26 06:00:01,2023-06-27 06:00:00,2023-06-26,18.5,G
15488,2023-06-27 06:00:01,2023-06-28 06:00:00,2023-06-27,10.6,G
15489,2023-06-28 06:00:01,2023-06-29 06:00:00,2023-06-28,0.0,G
15490,2023-06-29 06:00:01,2023-06-30 06:00:00,2023-06-29,5.0,G
15491,2023-06-30 06:00:01,2023-07-01 06:00:00,2023-06-30,0.2,G