In [122]:
import pandas as pd
from dateutil import parser
from datetime import timedelta, datetime

In [123]:
df = pd.read_csv('../data/avg_daily_temp_curated.csv')

In [124]:
df.dtypes

Datum              object
Kvalitet           object
Snittemperatur    float64
Month              object
dtype: object

In [125]:
df

            Datum Kvalitet  Snittemperatur    Month
0      1961-01-01        G            1.07  1961-01
1      1961-01-02        G            2.27  1961-01
2      1961-01-03        G            2.27  1961-01
3      1961-01-04        G            2.53  1961-01
4      1961-01-05        G            2.13  1961-01
...           ...      ...             ...      ...
19909  2023-06-27        G           18.18  2023-06
19910  2023-06-28        G           19.72  2023-06
19911  2023-06-29        G           19.22  2023-06
19912  2023-06-30        G           17.40  2023-06
19913  2023-07-01        G           16.06  2023-07

[19914 rows x 4 columns]

In [126]:
num_rows = df.count(axis=0)[0]

C:\Users\olofs\AppData\Local\Temp\ipykernel_25036\83482794.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  num_rows = df.count(axis=0)[0]

In [127]:
num_rows

19914

In [128]:
df[0:1]

        Datum Kvalitet  Snittemperatur    Month
0  1961-01-01        G            1.07  1961-01

In [129]:
first_date = str(df[0:1]['Datum'])
first_date

'0    1961-01-01\nName: Datum, dtype: object'

In [130]:
last_date = str(df[num_rows-1:]['Datum'])
last_date

'19913    2023-07-01\nName: Datum, dtype: object'

In [131]:
# diff = last_date-first_date

In [134]:
first_year = int(first_date[5:9])
first_month = int(first_date[10:12])
first_day = int(first_date[13:15])
first_day = datetime(first_year, first_month, first_day)

1

In [138]:
last_year = int(last_date[9:13])
last_month = int(last_date[14:16])
last_day = int(last_date[17:19])
last_day = datetime(last_year, last_month, last_day)

In [139]:
print(first_day)
print(last_day)

1961-01-01 00:00:00
2023-07-01 00:00:00

In [141]:
diff = last_day-first_day

In [142]:
diff

datetime.timedelta(days=22826)

In [143]:
df_avg_temp_daily = pd.read_csv('../data/avg_daily_temp_curated.csv')

In [145]:
df_avg_temp_daily['Year'] = df_avg_temp_daily['Datum'].str.split('-').str[0]

In [158]:
df_avg_temp_daily['Year'].value_counts()

Year
2020    366
1968    366
1992    366
2000    366
2004    366
1984    366
2012    366
2008    366
1996    366
2016    366
1964    366
2018    365
1997    365
2019    365
2022    365
2001    365
2002    365
2003    365
2015    365
2014    365
2017    365
2006    365
2007    365
1962    365
2009    365
2010    365
2011    365
2005    365
1961    365
2021    365
1993    365
1963    365
1965    365
1966    365
1967    365
1970    365
1971    365
1973    365
1974    365
1975    365
1985    365
1987    365
1990    365
1991    365
1994    365
1988    360
1989    353
1972    351
1986    337
2013    335
1969    304
1999    299
1983    275
1976    274
1995    273
2023    182
1998    135
Name: count, dtype: int64

In [166]:
df_avg_temp_monthly = pd.read_csv('../data/avg_monthly_temp_curated.csv')

In [167]:
df_avg_temp_monthly

       Month Kvalitet  Snittemperatur
0    1961-01        G            4.87
1    1961-02        G            6.20
2    1961-03        G            8.87
3    1961-04        G           16.93
4    1961-05        G           17.40
..       ...      ...             ...
655  2023-03        G            7.45
656  2023-04        G           13.72
657  2023-05        G           19.84
658  2023-06        G           22.48
659  2023-07        G           16.06

[660 rows x 3 columns]

In [168]:
df_avg_temp_monthly['Year'] = df_avg_temp_monthly['Month'].str.split('-').str[0]

In [169]:
df_avg_temp_monthly

       Month Kvalitet  Snittemperatur  Year
0    1961-01        G            4.87  1961
1    1961-02        G            6.20  1961
2    1961-03        G            8.87  1961
3    1961-04        G           16.93  1961
4    1961-05        G           17.40  1961
..       ...      ...             ...   ...
655  2023-03        G            7.45  2023
656  2023-04        G           13.72  2023
657  2023-05        G           19.84  2023
658  2023-06        G           22.48  2023
659  2023-07        G           16.06  2023

[660 rows x 4 columns]

In [170]:
df_avg_temp_monthly['Year'].value_counts()

Year
1961    12
2004    12
1994    12
1962    12
1996    12
1997    12
2019    12
2018    12
2000    12
2001    12
2002    12
2003    12
2005    12
2017    12
2006    12
2007    12
2008    12
2009    12
2010    12
2011    12
2012    12
2013    12
2014    12
2015    12
1993    12
1992    12
1991    12
1990    12
1963    12
1964    12
1965    12
1966    12
1967    12
1968    12
2022    12
1970    12
1971    12
1972    12
1973    12
1974    12
1975    12
2021    12
2020    12
1984    12
1985    12
1986    12
1987    12
1988    12
1989    12
2016    12
1995    10
1999    10
1969    10
1983     9
1976     9
2023     7
1998     5
Name: count, dtype: int64

In [195]:
df_avg_temp_daily.where(df_avg_temp_daily['Year'] == '1978').dropna()

Empty DataFrame
Columns: [Datum, Kvalitet, Snittemperatur, Month, Year]
Index: []

In [206]:
years = []
for ind, row in df_avg_temp_daily.iterrows():
    year = row['Year']
    if year not in years:
        years.append(year)
    else:
        pass

In [212]:
years

['1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']