In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('smhi_temp_data_save.csv', usecols=[0, 1, 2, 3], header=6, sep=';')

In [20]:
df

             Datum Tid (UTC)  Lufttemperatur Kvalitet
0       1944-01-01  07:00:00             1.6        G
1       1944-01-01  13:00:00             3.8        G
2       1944-01-01  18:00:00             4.2        G
3       1944-01-02  07:00:00             0.6        G
4       1944-01-02  13:00:00             3.8        G
...            ...       ...             ...      ...
435387  2006-12-05  09:00:00             9.4        G
435388  2006-12-05  10:00:00            10.1        Y
435389  2006-12-05  11:00:00            10.8        Y
435390  2006-12-05  12:00:00            10.9        G
435391  2006-12-05  13:00:00            10.8        Y

[435392 rows x 4 columns]