In [2]:
import pandas as pd

In [7]:
df_wind_save = pd.read_pickle('../Dataframes/df_wind_save.pkl')
df_wind_gbg = pd.read_pickle('../Dataframes/df_wind_gbg.pkl')

In [6]:
df_wind_save

,Datum,Tid_UTC,Vindriktning,Kvalitet,Vindhastighet,Vindhastighet_snitt,Högsta_vindhastighet
0,1951-01-01,00:00:00,100.0,G,3.0,3.29,5.0
1,1951-01-01,03:00:00,110.0,G,2.0,3.29,5.0
2,1951-01-01,06:00:00,70.0,G,2.0,3.29,5.0
3,1951-01-01,12:00:00,90.0,G,3.0,3.29,5.0
4,1951-01-01,15:00:00,70.0,G,4.0,3.29,5.0
...,...,...,...,...,...,...,...
430417,2006-12-05,09:00:00,190.0,G,8.0,9.21,11.0
430418,2006-12-05,10:00:00,190.0,Y,8.0,9.21,11.0
430419,2006-12-05,11:00:00,200.0,Y,9.0,9.21,11.0
430420,2006-12-05,12:00:00,200.0,G,11.0,9.21,11.0
430421,2006-12-05,13:00:00,190.0,Y,10.0,9.21,11.0

In [12]:
last_day_save = df_wind_save['Datum'][-1:]

In [26]:
last_day_save = str(last_day_save.values[0])[:10]

In [30]:
last_day_save

'2006-12-05'

In [28]:
df_wind_gbg = df_wind_gbg[df_wind_gbg['Datum'] > last_day_save]

In [29]:
df_wind_gbg

,Datum,Tid_UTC,Vindriktning,Kvalitet,Vindhastighet,Vindhastighet_snitt,Högsta_vindhastighet
166842,2006-12-06,00:00:00,219.0,G,4.0,4.92,6.3
166843,2006-12-06,01:00:00,194.0,Y,2.7,4.92,6.3
166844,2006-12-06,02:00:00,184.0,Y,4.5,4.92,6.3
166845,2006-12-06,03:00:00,186.0,G,4.9,4.92,6.3
166846,2006-12-06,04:00:00,183.0,Y,6.3,4.92,6.3
...,...,...,...,...,...,...,...
305146,2023-07-01,02:00:00,249.0,G,3.1,2.47,3.5
305147,2023-07-01,03:00:00,226.0,G,2.2,2.47,3.5
305148,2023-07-01,04:00:00,223.0,G,2.3,2.47,3.5
305149,2023-07-01,05:00:00,217.0,G,1.9,2.47,3.5
305150,2023-07-01,06:00:00,211.0,G,1.4,2.47,3.5

In [31]:
df_compiled_wind_data = pd.concat([df_wind_save, df_wind_gbg], ignore_index=False)

In [32]:
df_compiled_wind_data

,Datum,Tid_UTC,Vindriktning,Kvalitet,Vindhastighet,Vindhastighet_snitt,Högsta_vindhastighet
0,1951-01-01,00:00:00,100.0,G,3.0,3.29,5.0
1,1951-01-01,03:00:00,110.0,G,2.0,3.29,5.0
2,1951-01-01,06:00:00,70.0,G,2.0,3.29,5.0
3,1951-01-01,12:00:00,90.0,G,3.0,3.29,5.0
4,1951-01-01,15:00:00,70.0,G,4.0,3.29,5.0
...,...,...,...,...,...,...,...
305146,2023-07-01,02:00:00,249.0,G,3.1,2.47,3.5
305147,2023-07-01,03:00:00,226.0,G,2.2,2.47,3.5
305148,2023-07-01,04:00:00,223.0,G,2.3,2.47,3.5
305149,2023-07-01,05:00:00,217.0,G,1.9,2.47,3.5
305150,2023-07-01,06:00:00,211.0,G,1.4,2.47,3.5

In [33]:
# df_compiled_wind_data.to_csv('../data/compiled_wind_data_gbg_save.csv', mode='w', index=False)

In [34]:
# df_compiled_wind_data.to_pickle('../Dataframes/df_wind_gbg_save.pkl')