In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/Olof_Save_GBG_avg_daily_temp_data.csv', parse_dates=['Datum', 'Year'])

In [4]:
df.dtypes

Datum             datetime64[ns]
Kvalitet                  object
Snittemperatur           float64
Year              datetime64[ns]
dtype: object

In [5]:
df['Year'] = df['Datum'].dt.year
df['Month'] = df['Datum'].dt.month

In [6]:
monthly_averages = df.groupby(['Year', 'Month'])['Snittemperatur'].mean().round(2).reset_index()

In [7]:
monthly_averages = monthly_averages.rename({'Snittemperatur': 'Monthly avg'}, axis=1)

In [8]:
monthly_averages

     Year  Month  Monthly avg
0    1944      1         2.03
1    1944      2         0.18
2    1944      3         0.96
3    1944      4         6.08
4    1944      5        10.74
..    ...    ...          ...
953  2023      6        18.59
954  2023      7        16.78
955  2023      8        17.00
956  2023      9        17.02
957  2023     10        11.40

[958 rows x 3 columns]

In [9]:
df = df.merge(monthly_averages, how='left', on=['Year', 'Month'])

In [14]:
df

     Year  Month  Monthly avg
0    1944      1         2.03
1    1944      2         0.18
2    1944      3         0.96
3    1944      4         6.08
4    1944      5        10.74
..    ...    ...          ...
953  2023      6        18.59
954  2023      7        16.78
955  2023      8        17.00
956  2023      9        17.02
957  2023     10        11.40

[958 rows x 3 columns]

In [11]:
df = df.groupby(['Year', 'Month'])['Monthly avg'].max().reset_index()

In [12]:
df.to_csv('../data/Olof_Save_GBG_avg_monthly_temp_data.csv', mode='w', index=False)