In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv('../data/station_info.csv'))

In [3]:
df

,Tidsperiod (fr.o.m),Tidsperiod (t.o.m),Höjd (meter över havet),Latitud (decimalgrader),Longitud (decimalgrader)
0,1961-01-01 00:00:00,1969-05-31 23:59:59,30.000,57.7000,11.9700
1,1969-07-01 00:00:00,1972-04-30 23:59:59,40.000,57.7200,12.0200
2,1972-07-01 00:00:00,1976-10-01 23:59:59,4.000,57.7000,11.9800
3,1995-09-01 00:00:00,1995-09-30 23:59:59,23.000,57.7084,11.9939
4,1995-10-01 00:00:00,1998-06-01 23:59:59,5.000,57.7080,11.9938
5,1999-03-01 00:00:00,2023-10-01 12:20:20,3.038,57.7156,11.9924

In [30]:
save_long = '11.8824'
save_lat = '57.7786'
vinga_long = '11.6061'
vinga_lat = '57.6322'

longs = [i for i in df['Longitud (decimalgrader)']]
lats = [i for i in df['Latitud (decimalgrader)']]

longs.append(float(save_long))
longs.append(float(vinga_long))
lats.append(float(save_lat))
lats.append(float(vinga_lat))

In [32]:
longs

[11.97, 12.02, 11.98, 11.9939, 11.9938, 11.9924, 11.8824, 11.6061]

In [33]:
df_stations = pd.DataFrame({'LON': longs, 'LAT': lats})

In [35]:
# df_stations.to_pickle('../Dataframes/station_info.pkl')