In [26]:
import pandas as pd

In [27]:
df_snow_save = pd.read_csv('../data/smhi_snow_depth_save.csv', usecols=[0, 1, 2, 3, 4, 5], header=7, sep=';')

In [28]:
df_snow_save = df_snow_save.rename(columns=({'Tid (UTC)': 'Tid_UTC', 'Markens tillstånd': 'Markens_tillstånd', 'Kvalitet.1': 'Kvalitet_1'}))

In [29]:
df_snow_save

            Datum   Tid_UTC  Snödjup Kvalitet  Markens_tillstånd Kvalitet_1
0      1944-01-01  07:00:00      0.0        G                  0          G
1      1944-01-02  07:00:00      0.0        G                  0          G
2      1944-01-03  07:00:00      0.0        G                  0          G
3      1944-01-04  07:00:00      0.0        G                  0          G
4      1944-01-05  07:00:00      0.0        G                  0          G
...           ...       ...      ...      ...                ...        ...
15181  2002-11-24  06:00:00      0.0        G                  2          G
15182  2002-11-25  06:00:00      0.0        G                  2          G
15183  2002-11-26  06:00:00      0.0        G                  2          G
15184  2002-11-30  06:00:00      0.0        G                 11          G
15185  2002-12-01  06:00:00      0.0        G                 12          G

[15186 rows x 6 columns]

In [30]:
df_snow_save.to_pickle('../Dataframes/df_snow_save.pkl')

In [31]:
df_snow_save.to_csv('../data/snow_save_curated.csv', index=False, header=True, mode='w')